/********** contact **********/ 

.contactContainer {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

.headShot {
    border-radius: 50%;
    overflow: hidden;
    width: 350px;
    height: 350px; 
} 

form {
    text-align: left;
}

input, 
textarea {
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.6;
    border: 0;
    margin: 15px auto; 
    box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
} 

textarea {
    resize: none;
    width: 100%; 
    height: 250px; 
}

button,
#homeButton {
    cursor: pointer; 
}  