/********** contact **********/ 

.contactContainer {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

iframe {
    border-radius: 20px;
    width: 400px; 
    height: 400px; 
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
} 

iframe:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transition: all 0.2s; 
} 

form {
    text-align: left;
}

input, 
textarea {
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.6;
    border: 0;
    margin: 15px auto; 
    border: 2px solid #dadada;
} 

textarea {
    resize: none;
    width: 100%; 
    height: 250px; 
}

button,
#homeButton {
    cursor: pointer; 
}  