/********** doodles **********/ 

.doodles {
    .hidden {
        display: none;
    }
    .visible {
        display: block; 
    }
}

.carouselContainer {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
    -moz-box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
    box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
    -webkit-appearance: none;
    position: relative;
    margin: 0 auto; 
    width: 400px;
}

.prev {
    left: -110px; 
} 

.next {
    right: -110px;
}

.arrow {
    position: absolute;
    display: inline;
    top: 50%; 
    // background-color: rgba($color-primary, 0.8);
}

.imgNumbers {
    position: absolute;
    left: 0;
    right: 0; 
    bottom: 25px;
}

.dot {
    background-color: rgba(204,204,204, 0.3);
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
} 

.dot:hover, 
.active {
    background-color: rgb(204,204,204);
    width: 12px;
    height: 12px;
}