/********** doodles **********/ 

.galleryContainer {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
} 

.galleryCell {
    width: 320px;
    margin: 5px;
}

.galleryCell img {
    border-radius: 20px;
}