// hide hamburger
#hamNav label, 
#hamburger { 
    display: none; 
}

@media (max-width: 768px) {
    #hamItems a {
        display: block;
        width: 100%;
    }
    // show hamburger icon 
    #hamNav label { 
        display: inline-block; 
        color: $color-dark;
        background-color: white; 
        padding: 10px;
        cursor: pointer;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
        -moz-box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
        box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
        -webkit-appearance: none;    
    }
    #hamNav label:hover,
    #hamNav label:focus-within { 
        color: $color-primary;
        transition: all 0.2s; 
    }
    // toggle show/hide menu 
    #hamItems { 
        display: none; 
    }
    #hamNav input:checked ~ #hamItems { 
        display: block; 
    }
}