.headerContainer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    // height: 10vh; 
} 

// nav link container 
nav ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
} 

// nav link items 
nav li {
    flex: 1; 
} 

// nav links 
.headerContainer a,
.headerContainer a:visited {
    color: $color-dark; 
    text-decoration: none;
} 

.headerContainer a:focus,
.headerContainer a:hover {
    color: $color-primary; 
    transition: all 0.2s;
    border-bottom: 2px solid $color-primary; 
}  

// container holding main image and h1 
.homeContainer {
    height: 90vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
} 

.headerImg {
    width: 100px; 
    margin: 0 auto; 
} 

h1 {
    font-size: 1.8rem; 
} 

.button {
    text-decoration: none;
} 

.button:hover, 
.button:focus {
    color: $color-dark; 
    transition: all 0.2s;
} 


/********** about **********/ 

.aboutContainer {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
} 

h2 {
    text-align: left;
    font-size: 1.4rem; 
    padding: 0 25px; 
} 

.f1Img {
    width: 250px; 
    margin: 25px 0; 
} 

.aboutTextContainer {
    text-align: left;
    width: 50%; 
    padding: 25px 50px;  
} 

button,
a.button {
    color: $color-light; 
    background-color: $color-primary;
    border-radius: 30px;
    font-size: 0.8rem; 
    padding: 10px 30px; 
    border: none; 
    font-weight: 700; 
} 