.headerContainer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
} 


/********** nav bar **********/ 

nav ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
} 

nav li {
    flex: 1; 
} 

.headerContainer a,
.headerContainer a:visited {
    color: $color-dark; 
    text-decoration: none;
} 

.headerContainer a:focus,
.headerContainer a:hover {
    color: $color-primary; 
    transition: all 0.2s;
    border-bottom: 2px solid $color-primary !important; 
}  


/********** title container **********/ 

.homeContainer {
    height: 90vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
} 

.headerImgContainer {
    display: flex; 
    flex-direction: row;
    justify-content: center;
} 

.whitespace {
    width: 600px; 
    opacity: 0%; 
    position: relative; 
} 

.alien1,
.crocs, 
.alien2 {
    width: 100px; 
} 

.alien1 {
    position: absolute; 
    right: 0 
} 

.crocs {
    margin: 0 25px; 
} 

.alien2 {
    position: absolute; 
    left: 0 
} 

.whitespace:hover {
    opacity: 100%; 
    transition: all 0.2s; 
}

h1 {
    font-size: 1.8rem; 
    margin: 0; 
    margin-top: 25px; 
} 

.socialLinksContainer ul {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin: 35px; 
} 

.socialLinksContainer a,
.socialLinksContainer a:visited {
    color: $color-dark; 
    text-decoration: none;
} 

.socialLinksContainer a:focus,
.socialLinksContainer a:hover {
    color: $color-primary; 
    transition: all 0.2s;
}  

.socialLinksContainer i {
    font-size: 1.2rem;
    margin: 0 20px; 
}

.button {
    text-decoration: none;
} 

.button:hover, 
.button:focus {
    color: $color-dark; 
    transition: all 0.2s;
} 