/********** media queries **********/ 

/* portrait tablet and small desktops */
@media (max-width: 940px) {
    body {
        background-color: red; 
    } 
    .gallery-cell {
    width: 50%;
    }
}

/* landscape phone to portrait tablet */
@media (max-width: 768px) {
    body {
        background-color: blue; 
    } 
    .gallery-cell {
        width: 70%;
    }
}

/* landscape phones and down */
@media (max-width: 480px) {
    body {
        background-color: lime; 
    } 
    .gallery-cell {
        width: 100%;
    }
    .socialLinks ul {
        flex-direction: column;
        align-items: center;
    } 
    .socialLinks li {
        width: 150px; 
        height: 150px; 
    } 
    
}