/********** media queries **********/ 

@media (max-width: 1400px) {
    .whitespace {
        width: 350px; 
    } 
    // iframe {
    //     width: 280px; 
    //     height: 400px; 
    // } 
    
}

/* portrait tablet and small desktops */
@media (max-width: 940px) {
    .whitespace {
        width: 280px;
    } 
    .f1Img {
        width: 200px; 
    } 
    .aboutTextContainer {
        width: 60%; 
    } 
    .skillsContainer ul {
        width: 90%; 
    } 
    .projectTextContainer h2 {
        margin: 0; 
    } 
    .portfolioItem {
        margin: 50px 0; 
    } 
    .projectTextContainer {
        padding: 0 10px; 
    } 
    form {
        width: 40%; 
    } 
    input {
        display: flex; 
        flex-direction: row; 
        width: 100%; 
    } 
    textarea {
        margin: 0 auto; 
        margin-bottom: 15px; 
    } 
    #homeButton {
        bottom: 20px;
        right: 20px; 
        font-size: 1.8rem;
    }
}

/* landscape phone to portrait tablet */
@media (max-width: 768px) {
    .whitespace {
        width: 150px;
    } 
    .aboutTextContainer {
        width: 70%; 
    } 
    .skillsContainer ul {
        width: 100%; 
    } 
    .portfolioItem {
        flex-direction: column;
        margin: 70px 0;
    } 
    .projectImgContainer,
    .projectTextContainer {
        width: 90%; 
        margin: 0 auto; 
    }
    .doodles {
        .carouselContainer {
            width: 350px; 
        } 
        .prev {
            left: -40px; 
        } 
        .next {
            right: -40px; 
        } 
        // .carouselCaption {
        //     width: 350px; 
        // } 
    } 
    .contactContainer {
        flex-direction: column;
        // flex-direction: column-reverse;
    } 
    .headShot {
        margin: 25px auto;  
    } 
    // .map {
    //     margin: 0 auto; 
    // }
    // iframe {
    //     width: 400px; 
    //     height: 250px; 
    //     margin-top: 50px; 
    // } 
    form {
        width: 80%; 
        margin: 0 auto; 
    } 
    .contactContainer .button {
        display: block; 
        margin: 0 auto; 
    } 
    footer {
        padding: 0px;
    }
    #homeButton {
        bottom: 10px;
        right: 10px; 
        font-size: 1.8rem;
    }
}

/* landscape phones and down */
@media (max-width: 480px) {
    .whitespace {
        width: 100px;
    } 
    .alien1,
    .alien2 {
        width: 95px; 
    } 
    .crocs {
        margin: 0 auto; 
    } 
    .aboutContainer {
        flex-direction: column; 
    } 
    .f1Img {
        margin: 0 auto; 
    } 
    .aboutTextContainer {
        width: 100%; 
        text-align: center;
    } 
    .skillsContainer ul li {
        width: 65px; 
    } 
    .doodles {
        .prev {
            left: 0; 
            top: 0; 
        } 
        .next {
            right: 0; 
            top: 0; 
        } 
    } 
    .headShot {
        width: 280px;
        height: 280px; 
    } 
    // iframe {
    //     width: 300px; 
    //     height: 200px; 
    // } 
    #homeButton {
        visibility: hidden;
    }
}