@import 'variables';

@import 'setup';
@import 'global';

@import 'header';
@import 'hamburger';

@import 'about';
@import 'projects';
@import 'doodles';
@import 'contact';
@import 'footer';
@import 'media';