/********** setup **********/ 

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/********** global **********/ 

html {
    font-size: 125%; 
} 

body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 0.8rem; 
    background-color: #F9F9FF;
    line-height: 1.7; 
    overflow-x: hidden; 
} 

.wrapper {
    width: 90%; 
    margin: 0 auto; 
    max-width: 1080px; 
}

section {
	padding-top: 110px;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
    color: #454360; 
    font-weight: 700; 
} 

/* h3 {
    font-size: 1.2rem; 
}  */

ul {
    padding: 0; 
} 

li {
    list-style-type: none;
} 

img {
    width: 100%; 
    height: auto; 
} 

header {
    height: 100vh; 
} 

/********** nav **********/ 

nav ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
} 

nav li {
    flex: 1; 
} 

a,
a:visited {
    color: #FFD15C; 
    outline: 0; 
    text-decoration: none;
} 

a:hover, a:focus, 
/* button:hover, button:focus, */
a.button:hover, a.button:focus {
    color: #353353;  
    transition: all 0.2s;
} 

nav a:focus,
nav a:hover {
    border-bottom: 2px solid #353353; 
} 

/* .header i {
    margin: 10px; 
}  */


/********** header **********/ 

.intro {
    padding: 50px; 
} 

h1 {
    font-size: 1.8rem; 
} 

.headerImg {
    width: 100px; 
    margin: 0 auto; 
    margin-top: 100px;
} 

/* button, */
a.button {
    color: white; 
    background-color: #FFD15C;
    border-radius: 30px;
    font-size: 0.8rem; 
    padding: 10px 30px; 
    border: none; 
    font-weight: 700; 
} 


/********** about **********/ 

.aboutContainer {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
} 

h2 {
    text-align: left;
    font-size: 1.4rem; 
    padding: 0 25px; 
} 

.f1Img {
    width: 250px; 
    margin: 25px 0; 
} 

.aboutTextContainer {
    text-align: left;
    width: 50%; 
    padding: 25px 50px;  
} 


/********** skills **********/ 

.skillsContainer ul {

    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center;
    width: 80%; 
    margin: 0 auto; 
} 

.skillsContainer ul li {
    width: 80px; 
    margin: 10px 50px; 
} 

.skillsContainer img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
} 

.skillsContainer img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transition: all 0.2s;
} 

/* black and white icons with no color */ 
.skillsIcons {
    opacity: 50%;
}
.skillsIcons:hover {
    opacity: 100%;
    transition: all 0.2s;
}


/********** projects **********/ 

h4 {
    font-size: 0.9rem; 
    color: white; 
} 

.projectTextContainer h2 {
    text-align: center;
} 

.portfolioItem {
    display: flex; 
    flex-direction: row;
    margin: 100px 0; 
} 

.projectImgContainer,
.projectTextContainer {
    width: 50%; 
    padding: 0 25px; 
} 


/********** doodles **********/ 

.gallery-cell {
    width: 30%;
    height: auto; 
    margin: 0 5px;
    background-color: #999;
    counter-increment: gallery-cell;
    transition: all 0.2s;
}

.gallery-cell.is-selected {
    background-color: #FFD15C;
}

/********** contact **********/ 

.socialLinks {
    background-color: white; 
}

.socialLinks ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
} 

.socialLinks li {
    width: 200px; 
    height: 200px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
} 

.socialLinks i {
    font-size: 2.5rem;
    margin: 10px; 
}

/* .contactContainer {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid blue; 
}  */

/* form {
    text-align: left;
}

input, 
textarea {
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.6;
    border: 0;
    margin: 15px auto; 
} 

textarea {
    resize: none;
    width: 100%; 
    height: 250px; 
}


/********** footer  **********/ 

footer {
    margin-top: 100px; 
	padding: 40px 0;
    color: #9C9AB3;
    font-size: 0.7rem;
}

/********** media queries **********/ 

/* portrait tablet and small desktops */
@media (max-width: 940px) {
    body {
        background-color: red; 
    } 
    .gallery-cell {
    width: 50%;
    }
}

/* landscape phone to portrait tablet */
@media (max-width: 768px) {
    body {
        background-color: blue; 
    } 
    .gallery-cell {
        width: 70%;
    }
}

/* landscape phones and down */
@media (max-width: 480px) {
    body {
        background-color: lime; 
    } 
    .gallery-cell {
        width: 100%;
    }
    .socialLinks ul {
        flex-direction: column;
        align-items: center;
    } 
    .socialLinks li {
        width: 150px; 
        height: 150px; 
    } 
    
}

/********** home button **********/ 

#homeButton {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    font-size: 2rem;
    cursor: pointer;
    border: none; 
    background: none; 
}

#homeButton:hover {
    opacity: 80%; 
    transition: all 0.2s;
}